@font-face {
    font-family: Avenir-Bold;
    src: url(../assets/fonts/Avenir-Bold.otf);
    font-weight: bold;
};

@font-face {
    font-family: Avenir-Demi;
    src: url(../assets/fonts/Avenir-Demi.otf);
    font-weight: medium;
};

@font-face {
    font-family: Avenir-Regular;
    src: url(../assets/fonts/Avenir-regular.otf);
    font-weight: normal;
};

$bold: 'Avenir-Bold';
$medium: 'Avenir-Demi';
$regular: 'Avenir-Regular'



